<form class="login-form"
      role="form"
      novalidate="novalidate"
      autocomplete="off"
      name="LoginForm"
      ng-submit="lc.loginUser($event)"
>
  <div class="row">
    <div class="form-group col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3"
         ng-class="{'has-error': LoginForm.$submitted && LoginForm.login.$error.required}"
    >
      <label
          class="sr-only"
          for="emailAddress"
      >
        Email Address
      </label>
      <input
          ng-model="lc.user.login"
          type="text"
          class="form-control form-input" id="emailAddress" placeholder="Email Address or Mobile Number"
          name="login"
          required
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3"
         ng-class="{'has-error': LoginForm.$submitted && LoginForm.password.$error.required}">
      <label
          class="sr-only"
          for="password"
      >
        Password
      </label>
      <input
          ng-model="lc.user.password"
          type="password"
          class="form-control form-input" id="password"
          name="password"
          placeholder="Password"
          required
        />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <button
        type="submit"
        class="btn center-block auth-btn form-input"
      >
        LOG IN
      </button>
    </div>
  </div>
</form>
